logging:
  config: "classpath:/logback-hms-spring.xml"
  dir: "${user.home}/.hms-mirror/logs"
  filename-prefix: "hms-mirror"
  threshold: "debug"
server:
  port: 8090
  servlet:
    context-path: /hms-mirror
    session:
      timeout: 30m  # HTTP session timeout
hikari:
  idleTimeout: 10000
  connectionTestQuery: "SELECT 1"
  validationTimeout: 30000
  initializationFailTimeout: 10000
dbcp2:
  maxWaitMillis: 10000
  validationQuery: "SELECT 1"
springdoc:
  api-docs:
    enabled=true:
  swagger-ui:
    enabled: true
#    path: "/swagger-ui.html"
spring:
  datasource:
#    hikari:
#      maxLifetime: 1800000
#      connectionTimeout: 60000
#      validationTimeout: 30000
#      minimumIdle: 2
  lifecycle:
    timeout-per-shutdown-phase: 1s
  main:
    banner-mode: "off"
  thymeleaf:
    enabled: true
    prefix: classpath:/templates/
    suffix: .html
hadoop:
  cli:
    api: "true"
hms-mirror:
  rocksdb:
    enabled: true
  session:
    keep-alive:
      enabled: true
      interval: 10m     # How often to perform keep-alive for running sessions
      cleanup-interval: 30m  # How often to cleanup stale keep-alive sessions
  ui:
    # Options: 'thymeleaf' (legacy) or 'react' (new)
    version: "react"
  config:
    beta: "false"
    testing: "false"
    output-dir: "false"
    path: ${user.home}/.hms-mirror/cfg
    filename: "default.yaml"
    setup: "false"
    suppress-cli-warnings: "false"
    save-working-tables: "false"
    yaml:
      # This controls the maximum number of bytes that can be read from a YAML file.
      # The default value in SnakeYaml is 3MB.  We've reset this to 100MB.
      # It can be overridden by setting the app property on startup.
      codePointLimit: 104857600
  conversion:
    test-filename: "false"
  concurrency:
    max-threads: 10
  api:
    version: "2.2.0.0"
